*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

body {
	line-height: calc(1em + 0.65em);
	-webkit-font-smoothing: antialiased;
}

img {
	display: block;
	width: 100%;
}

input,
button,
textarea,
select {
	font-family: inherit;
	font-size: 1rem;
}

p,
h1,
h2,
h3 {
	overflow-wrap: break-word;
}

p {
	text-wrap: pretty;
}

h1,
h2,
h3 {
	text-wrap: balance;
}
